$title-color: #302e2e;
$title-fontfamily: Georgia, 'Times New Roman', Times, serif;
$fondo-rosa: lightcoral;
$fondo-gris: #706e72;
$cinta: repeating-linear-gradient(135deg, transparent, transparent 25px, lightgray 25px, lightcoral 40px);
$marcoFotos: grey;
$ancho:256px;